<% provide(:title, @user.name) %>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<h2> <%= @user.email %> </h2>
<div>user has <%=@images.count%> images :)</div>

<div id = "imgwrap">
    <% @groups.each do |group| %>
        <hr />
    <div class= "imgblock" id= <%= "#{group}block" %> >
        <h2> <%= group %> <span> -</span></h2>
        <ul class = "imglist">
        <% @images.where(:group => group).each do |image| %>
            <li>
            <br />
            Name:<%= image.name %><br/>
            Group: <%= image.group %><br />
            Private: <%image.private %><br />
            <% if current_user? @user %>
            <%= link_to 'Show', image %>
            <%= link_to 'Edit', edit_image_path(image) %>
            <%= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete %>
            <% end %>

            <%= link_to image_tag(image.pic.url(:small), :draggable => "true"), image.pic.url(:large),  class: "lightbox[#{group}]"%>
            </li>
        <%end%>
        </ul>
    </div>
    <% end %>
</div>
