<h1>Welcome <%= @current_user.name if signed_in?%> </h1>

<div id="checkOnline">
<% @urls.each do |url| %>
    <% if working_url? url %>
    <p style="color:green"><%= "#{url} is online"%></p>
    <%else%>
    <p style="color:red"><%= "#{url} is offline"%></p>
    <%end%>
</p>
<% end %>
</div>

<div class= "imgblock" id= "recentblock"> >
        <h2> Recent Images <span> -</span></h2>
        <ul class = "imglist">
        <% @images.each do |image| %>
            <li>
	<% if !image.private %>
	 <%= link_to image.user.name, user_path(image.user) %>
            <%= link_to image_tag(image.pic.url(:small), :draggable => "true"), image.pic.url(:large),  class: "lightbox[recent]"%>
	<% end%>
	</li>
        <%end%>
        </ul>
    </div>
