 <%= form_for @image do |f| %>
  <div class="form_settings">

      <p><%= f.label :name%></p>
      <p><%= f.text_field :name, :required => true, :placeholder => "enter image name" %></p>
      <p><%= f.label :group%></p>
      <p><%= f.text_field :group, :placeholder => "enter group" %></p>
      <p><%= f.label :private%></p>
      <p><%= f.check_box :private %></p>

  <p>
    <% if yield(:form_type) == 'new' %>
     <b> Picture </b><br/>
     <%= f.file_field :pic, :required => true, :accept => "image/*" %>
     <% end %>
   </p>
<p><%= f.submit "Submit", class: "submit" %></p>
</div>
<% end %>