        <header id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1>
                        <a href="index.html">My<span class="logo_colour">Pix</span></a>
                    </h1>
                    <h2>
                        Image Uploading and Sharing
                    </h2>
                </div>
            </div>
            <nav id="menubar">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li class=<%= @title == 'home'? "selected" : "" %>>
                        <%= link_to 'Home', 'home' %>
                    </li>
                    <li class=<%= @title == 'mypage'? "selected" : "" %>>
                        <%= link_to 'MyPage', 'mypage' %>
                    </li>
                    <li class=<%= @title == 'upload'? "selected" : "" %>>
                        <%= link_to 'Upload', 'upload' %>
                    </li>
                    <li class=<%= @title == 'register'? "selected" : "" %>>
                        <%= link_to 'Register', 'register' %>
                    </li>
                </ul>
            </nav>
        </header>