        <div id="sidebar_container">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>
                        My Links
                    </h3>
                    <ul>
                        <% if signed_in? %>
                         <li>
                             <%= link_to "My Account",mypage_path %>
                        </li>
                        <li>
                             <%= link_to "Edit Profile",edit_user_path(current_user) %>
                        </li>
                        <li>
                             <%= link_to "My Pictures", mypictures_path %>
                        </li>
                        <li>
                             <%= link_to "Upload", upload_path %>
                        </li>
                        <li>
                             <%= link_to "Logout(#{@current_user.name})", logout_path %>
                        </li>
                        <% else %>
                        <li>
                           <%= link_to "Login", login_path %>
                        </li>
                        <% end %>


                    </ul>
                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>
                        Search
                    </h3>
                    <form method="post" action="#" id="search_form">
                        <p>
                            <input class="search" type="text" name="search_field" placeholder="Enter keywords....."> <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/assets/search.png" alt="Search" title="Search">
                        </p>
                    </form>
                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <!-- insert your sidebar items here -->
                    <h3>
                        Latest News
                    </h3>
                    <h4>
                        CITS4230 - Project 1
                    </h4>
                    <h5>
                        September 14th, 2012
                    </h5>
                    <p>
                        First part of project released,<br>
                        <a href="references.html">see references</a>
                    </p>
                </div>
                <div class="sidebar_base"></div>
            </div>
        </div>
