<!DOCTYPE HTML>
<html>

<head>
 <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<%= debug(params) if Rails.env.development? %>
<div>
<body id = "main">
    <div>
        <%= render 'layouts/header' %>
       <div id="content_header"></div>
        <section id="site_content">
               <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
               <% end %>

                <%= render 'layouts/sidebar' %>
                <div id="content">
                    <!-- insert the page content here -->
                    <%= yield %>
                </div>
        </section>
        <%= render 'layouts/footer' %>
    </div>
</body>
<script> initImgs(); </script>
<div>
</html>
